<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <title>๋ก๊ทธ์ธ</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <div class="container">
    <h2>๋ก๊ทธ์ธ</h2>
    <form method="POST" action="/signin">
      <label>์ฌ์ฉ์๋ช</label>
      <input type="text" name="username" required />
      <label>๋น๋ฐ๋ฒํธ</label>
      <input type="password" name="password" required />
      <button type="submit">๋ก๊ทธ์ธ</button>
    </form>
    <p style="margin-top: 10px;">
      ์์ง ํ์์ด ์๋๋ผ๋ฉด? ๐ <a href="/signup">ํ์๊ฐ์</a>
    </p>
  </div>
</body>

</html>
