<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <title>환영합니다</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <div class="container">
    <h2><%= user.username %>님, 환영합니다!</h2>
    <p style="margin-top: 10px;">
      <a href="/signout">로그아웃</a>
    </p>
  </div>
</body>

</html>
