<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <title>๋ก๊ทธ์ธ</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <div class="container">
    <h2>๋ก๊ทธ์ธ</h2>
    <form method="POST" action="/member/signin">
      <label>์ด๋ฆ</label>
      <input type="text" name="name" required />
      <label>์ด๋ฉ์ผ</label>
      <input type="email" name="email" required />
      <button type="submit">๋ก๊ทธ์ธ</button>
    </form>
    <p style="margin-top: 10px;">
      ์์ง ํ์์ด ์๋๋ผ๋ฉด? ๐ <a href="/member/form">ํ์๊ฐ์</a>
    </p>
  </div>
</body>

</html>
