<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <title>회원 시스템</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <div class="container">
    <h2>회원 등록</h2>
    <form action="/member/form" method="post">
      <label>이름</label>
      <input type="text" required name="name" />
      <label>이메일</label>
      <input type="email" required name="email" />
      <button type="submit">등록</button>
    </form>
  </div>
</body>

</html>