<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>Simple Board</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="container">
    <div class="top-bar">
      <% if (user) { %>
        <span><%= user.username %>님, 안녕하세요! 😊</span>
        <a href="/signout">로그아웃</a>
      <% } %>
    </div>
    <%- body %>
  </div>
</body>
</html>