<% if (success) { %>
  <h2>๐ ๋ก๊ทธ์์ ๋์์ต๋๋ค</h2>
  <p class="message"><a href="/signin">๋ค์ ๋ก๊ทธ์ธํ๊ธฐ</a></p>
<% } else { %>
  <h2>โ๏ธ ๋ก๊ทธ์์ ์คํจ</h2>
  <p class="message">์์ ํ ๋ค์ ์๋ํด ์ฃผ์ธ์.</p>
<% } %>
