<head>
    <meta charset="UTF-8" />
    <title>입력 폼</title>
</head>

<body>
    <h1>사용자 입력 폼</h1>
    <h2>GET 방식</h2>
    <form action="/form/result" method="get">
        <input type="text" name="username" placeholder="이름 입력" />
        <button type="submit">전송 (GET)</button>
    </form>
    <h2>POST 방식</h2>
    <form action="/form/result" method="post">
        <input type="text" name="username" placeholder="이름 입력" />
        <button type="submit">전송 (POST)</button>
    </form>
</body>