<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('partials/header') %>

        <main>
            <%- include(page) %>
        </main>
        <%- include('partials/footer') %>
</body>

</html>