<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <title>입력 결과</title>
</head>

<body>
    <h1>제출 결과</h1>
    <% if (username) { %>
        <p>이름: <%= username %>
        </p>
        <% } %>
            <% if (gender) { %>
                <p>성별: <%= gender %>
                </p>
                <% } %>
                    <% if (hobbies && hobbies.length> 0) { %>
                        <p>취미 목록:</p>
                        <ul>
                            <% hobbies.forEach(hobby=> { %>
                                <li>
                                    <%= hobby %>
                                </li>
                                <% }) %>
                        </ul>
                        <% } else { %>
                            <p>취미를 선택하지 않았습니다.</p>
                            <% } %>
</body>

</html>