<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <title>홈페이지</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <h1>Welcome to My Homepage!</h1>
    <img src="/images/sample.jpg" alt="샘플 이미지" />
</body>

</html>